body {
    font-weight: bold;
    font-family: Arial, sans-serif;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 500px;
    background-color: plum;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    border: 2px solid black;
}

h1 {
    color: red;
    font-size: 36px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 20px;
    border: 2px solid black;
    width: 300px;
}

.radio-group,
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.radio-group label,
.checkbox-group label {
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: skyblue;
    border: 1px solid black;
}

.radio-group input[type="radio"],
.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}

button {
    font-weight: bold;
    padding: 10px 20px;
    background-color: green;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid black;
    margin-top: 10px;
}

#scrollOrSwipe {
    background-color: orange;
}

button.red {
    background-color: red;
}